Q1: A student will not be allowed to sit in exam if his/her attendence is less than 75%.  
Take following input from user Number of classes held Number of classes attended. And print percentage of class attended  
Is student is allowed to sit in exam or not.

In [5]:
def check(attend,Tclasses):
#attended=int(input("class attnd: "))
#classes=int(input("total classes: "))
    perc=int((attend/Tclasses)*100)

    if(perc>75):
        return ("can attend classes")
    else:
        return ("can't attend")

check(45,100)

"can't attend"

Q2:accept amount from user and find the minimum number notes required to get the amount amount =512  
Notes: 2000,500,100,50,10,5,2,1  

500-1 note  
10  - 1 note  
2-  1 coin

In [20]:
amt=37500

req_notes_2k=amt//2000
if req_notes_2k>0:
    print("2k:",req_notes_2k)
rem_amt=amt%2000

note_500=rem_amt//500
if rem_amt>0:
    
    print("500:",note_500)

rem_amt=rem_amt%500

2k: 18
500: 3

In [21]:
rem_amt

0

In [1]:
amt=4050

money=[2000]


for i in money:
    if amt>i:
        notes_2k=amt//i
        print(notes_2k)
        
        rem_amt=amt%i
    print(i)

2
2000

Modify the above question Q1 to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.  
4.	A school has following rules for grading system:  
a.	Below 25 - F  
b.	25 to 45 - E  
c.	45 to 50 - D  
d.	50 to 60 - C  
e.	60 to 80 - B  
f.	Above 80 - A  
Ask user to enter marks and print the corresponding grade.

In [7]:
def check(attend,Tclasses):

    perc=int((attend/Tclasses)*100)
    if(perc<25):
        med=input("any medical issues: ")
        if med=='y'or med=='Y':
            return ("can attend and grade F")
        else:
            return("cant attend")
            
    elif (25<perc<45):
        med=input("any medical issues: ")
        
        if med=='y'or med=='Y':
            
            return ("can attend and grade E")
        else:
            return("cant attend")

In [9]:
check(43,100)

any medical issues: n

'cant attend'

Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :  
             Unit                                    Price    
First 100 units                                       no charge  
Next 100 units                                        Rs 5 per unit  
After 200 units                                       Rs 10 per unit  
(For example if input unit is 350 than total bill amount is Rs2000)

In [16]:
def chk_bill(units):
    if(units<100):
        return ("no charge")
    elif(100<units<200):
        amt=(units%100)*5
        return ("the amount is:",amt)
    elif(200<units<300):
        amt=(units%200)*10
        return ("the amount is:",500+amt)

In [20]:
chk_bill(250)

('the amount is:', 1000)

Q: Chk_leapYear

In [12]:
def chk_leap(leap):
    "checking leap year"
    
    if(leap%400==0):
        return ("leap year")
    
    elif(leap%4==0):
        return ("leap year")
    
    
    elif(leap%100==0):
        
        return ("non leap year")
#     elif(leap%4==0):
#         return ("leap year")
    
    else:
        return("non leap yr")

In [13]:
chk_leap(2000)

'leap year'

Write a program to accept the price of a bike and display the road tax and insurance to be paid according to the following criteria . also display total amount to be paid.  
      
        Cost price (in Rs)           Tax                Inssurance  
        > 100000                     15 %                   20%  
        > 50000 and <= 100000        10%                    8%  
        <= 50000                     5%                     5%

In [5]:
def tax(amt):
#     print("d")
    if(amt>100000):
#         print("c")
        tax=amt+0.15*amt
        insurance=amt+amt*0.20
        total=tax+insurance
        
        print(tax,insurance,total)

In [7]:
tax(100456)

d
c
115524.4 120547.2 236071.59999999998

In [10]:
print("*"*4)

****

In [11]:
for i in range(4):
    print("*"*5)

*****
*****
*****
*****

In [91]:
def patt1(n):
    for i in range(n):
        
        for j in range(i+1):
                
            print("*",end=' ')
            
        print()

In [92]:
patt1(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [74]:
def patt2(n):
    
    for i in range(n):
        for j in range (i,n):
            print("*",end=' ')
        print()

In [75]:
patt2(5)

* * * * *
* * * *
* * *
* *
*

In [105]:
def patt3(n):
    for i in range(n):
        for j in range(i,n):
            
            print("-",end=" ")
            
        for j in range(i+1):
            print("*",end=" ")
        
        
        print()

In [106]:
patt3(5)

- - - - - *
- - - - * *
- - - * * *
- - * * * *
- * * * * *

In [103]:
def patt4(n):
    for i in range(n):
        for j in range(i+1):
            print("-",end=' ')
            
        for j in range(i,n):
            print("*",end=' ')
        print()

In [104]:
patt4(6)

- * * * * * *
- - * * * * *
- - - * * * *
- - - - * * *
- - - - - * *
- - - - - - *

In [117]:
def patt5(n):
    for i in range(5):
        for j in range(i,n):
            print("-",end=' ')
        
        for j in range(i+1):
            print("*",end=" ")
            
        for j in range(i+1):
            print("*",end=" ")
            
        print()

In [118]:
patt5(5) # here is a small catch loop knows only to print cplumn but here we print one column less...

- - - - - * *
- - - - * * * *
- - - * * * * * *
- - * * * * * * * *
- * * * * * * * * * *

In [122]:
def patt5(n):
    for i in range(5):
        for j in range(i,n):
            print("-",end=' ')
        
        for j in range(i):
            print("*",end=" ")
            
        for j in range(i+1):
            print("*",end=" ")
            
        print()

In [123]:
patt5(6)

- - - - - - *
- - - - - * * *
- - - - * * * * *
- - - * * * * * * *
- - * * * * * * * * *

In [131]:
def patt6(n):
    for i in range(n):
        for j in range(i+1):
            print("-",end=' ')
            
        for j in range(i,n-1):
            print("*",end=' ')
            
        for j in range(i,n):
            print("*",end=" ")
            
            
        print()

In [132]:
patt6(5) #same catch as above here also we have to print one column less

- * * * * * * * * *
- - * * * * * * *
- - - * * * * *
- - - - * * *
- - - - - *

In [169]:
def patt7(n):
    for i in range(n):
        for j in range(i,n):
            print("-",end=' ')
            
        for j in range(i):
            print("*",end=' ')
            
#         for i in range(n):
#             print(" ",end=' ')
            
            
#         for j in range(i,n):
#             print("*",end=" ")
            
        print()
        
        
        
    for i in range(n):
        
        for j in range(i):
            print("-",end=" ")
            
        for j in range(i,n):
            
            print("*",end=' ')
     
        
        print()

In [170]:
patt7(5)

- - - - -
- - - - *
- - - * *
- - * * *
- * * * *
* * * * *
- * * * *
- - * * *
- - - * *
- - - - *

A 3x3 Matrix

In [52]:
l=[]

for i in range(1,4):
    a=[]
    for j in range(1,4):
        a.append(i*j)
    l.append(a)

In [54]:
l

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [23]:
l=[[i*j for i in range (1,4)]for j in range(1,4)]

In [24]:
l

[[1, 2, 3], [2, 4, 6], [3, 6, 9]]

In [31]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[]
for i in l1:
    for j in l2:
        l3.append(i*j)

In [32]:
l3

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [34]:
l=[i*j for i in l1 for j in l2]

In [35]:
l

[5, 6, 7, 8, 10, 12, 14, 16, 15, 18, 21, 24, 20, 24, 28, 32]

In [93]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[]
for i in range (0,len(l1)):
    for i in range (0,len(l2)):
        l3.append(l1[i]+l2[i])
        
        break
print(l3)

[6, 6, 6, 6]

# zip

In [82]:
l1=[1,2,3,4]
l2=[5,6,7,8]
l3=[9,10,11]
for i,j,k in zip(l1,l2,l3):
    
    print(i+j+k)

15
18
21

In [9]:
n=6
for i in range(n):
    for j in range(i+1):
        print(j+1,end='')
    for k in range (i,0,-1):
        print(k,end='')
    print()

1
121
12321
1234321
123454321
12345654321

In [1]:
#OOPS

NameError: name 'OOPS' is not defined

In [15]:
class student:
    institute="iacsd" #class variable
    def __init__(self,name,roll,marks,course): #constructor
        
        self.nam=name
        self.roll=roll
        self.marks=marks
        self.course=course
    
    def display(self):
        
        print(self.nam,self.roll,self.marks,self.course,student.institute)

In [16]:
c1=student("purven",12,23,"dbda")

In [17]:
c1.display()

purven 12 23 dbda iacsd

In [13]:
c2=student("tejas",21,32,"ditiss")

In [14]:
c2.display()

tejas 21 32 ditiss iacsd

In [18]:
class car:
    brand="TATA"
    def __init__(self,color,price,avg,type_fuel):
        self.color=color
        self.price=price
        self.avg=avg
        self.type_fuel=type_fuel
    def display(self):
        print(self.color,self.price,self.avg,self.type_fuel,car.brand)

In [19]:
c1=car("red",125896,35,"petrol")

In [20]:
c1.display()

red 125896 35 petrol

In [22]:
print(c1.price,c1.avg)

125896 35

In [23]:
c2=car("blue",125696,32,"diesel")

In [24]:
c2.display()

blue 125696 32 diesel

In [26]:
tot=c1.price+c2.price
print(tot)

251592

In [31]:
class car:
    brand="TATA"
    count=0
    def __init__(self,color,price,avg,type_fuel):
        self.color=color
        self.price=price
        self.avg=avg
        self.type_fuel=type_fuel
        car.count+=1
    def display(self):
        print(self.color,self.price,self.avg,self.type_fuel,car.brand)
        print("count is: ",car.count)

In [32]:
c1=car("white",123,12,"diesel")

c1.display()

In [33]:
c1.display()

white 123 12 diesel TATA
count is:  1

In [34]:
c1=car("navy",123123,1212312,"petrol")

In [35]:
c1.display()

navy 123123 1212312 petrol TATA
count is:  2

In [47]:
class Employee:
    emp_count=0
    def __init__(self,empid,name,deptno,salary,loc,mgr,designation="Employee"):
        self.empid=empid
        self.salary=salary
        Employee.emp_count += 1
    def display_id(self):
        print(self.empid)
    def data_analysis(self):
        print("Doing data analysis")
    def give_raise(self):
        self.salary += 0.2*self.salary
    def promotion(self):
        self.designation="Manager"
    @classmethod  # write decorator @classmethod
    def display_total_emp(cls):
        print(cls.emp_count, Employee.emp_count)
        #print(self.emp_count) # WON't work bcz self is not defined in class method
    @staticmethod
    def static_display_total_emp():
        print(Employee.emp_count)
        #print(cls.emp_count)# WON't work bcz cls is not defined in static method
        #print(self.emp_count) # WON't work bcz self is not defined in static method

In [48]:
e1 = Employee(1,"ss","123",56789,"xyz","pqr")

In [49]:
e1.display_total_emp()

1 1

In [1]:
class A:
    ca1=10
    def __init__(self):
        self.i1=90;
        self.name="purven,pajjya,tejya"
        
    def method1(self):
        
        print("instance of method a")
        
class B(A):
    def __int__(self):
        A.__init__(self)
        self.i2=91
    def display(self):
        print(self.i1,self.name,self.i2,A.ca1)

In [2]:
c1=B()

In [3]:
c1.display()

AttributeError: 'B' object has no attribute 'i2'

In [8]:
class A:
    ca1=10
    def __init__(self):
        self.i1=90
        self.name="purven"
        
    def method1(self):
        print("instance 1")
class B(A):
    
    def __init__(self):
        A.__init__(self)
        self.i2=100;
    def display(self):
        print(self.i1,self.i2,self.ca1,self.name,A.ca1)

In [9]:
b=B()

In [12]:
b.display()
b.method1()

90 100 10 purven 10
instance 1

In [14]:
class A:
    ca1=10
    def __init__(self):
        self.i1=90
        self.name="purven"
        
    def method1(self):
        print("instance 1")
class B(A):
    
    def __init__(self):
        A.__init__(self)
        self.i2=100;
    def display(self):
        print(self.i1,self.i2,self.ca1,self.name,A.ca1)
        
        
class C(A):
    def __init__(self):
        A.__init__(self)
    def display(self):
        print(self.i1)

In [15]:
b=C()

In [17]:
b.display()

90

In [1]:
class Employee:
    def __init__(self):
        self.empid=input("Enter empid")
        self.name=input("Enter name")
        self.salary=input("Enter salary")
    def display(self):
        print(self.empid,self.name,self.salary)

In [2]:
class Manager(Employee):
    def __init__(self,projectids):
#         Employee.__init__(self)
        super().__init__()
        self.budget=1000000
        self.projectids=projectids
    def display(self):
#         Employee.display(self)
        super().display()
        print("Display of manager")
    def display_project_ids(self):
        print(self.empid,self.name,self.projectids)

In [3]:
d=Employee()
d.display()

Enter empid12
Enter namenin
Enter salary23
12 nin 23

In [2]:
#ReTest

In [17]:
class student:
    
    name="Poddar"
    def __init__(self,name,roll,classes):
        self.name=name
        self.roll=roll
        self.classes=classes
    def display(self):
        print(self.name,self.roll,self.classes,student.name)

In [18]:
s1=student("purven",12,45)

In [19]:
s1.display()

purven 12 45 Poddar

In [57]:
class car:
    count=0
    name="TATA"
    def __init__(self,color,price,avg,fuel_type):
        
        self.color=color
        self.price=price
        self.avg=avg
        self.fuel_type=fuel_type
        car.count+=1
    @classmethod
    def display1(ls):
        print(ls.name)
        
    @staticmethod
    def static_display():
        print(car.count)
    
    def display(self):
        print(self.color,self.price,self.avg,self.fuel_type,car.count)

In [58]:
c1=car("red",45,45,"petrol")

In [59]:
c1.display()

red 45 45 petrol 1

In [60]:
c1.display1()

TATA

In [61]:
car.display1()

TATA

In [62]:
car.static_display()

1

In [55]:
c2=car("blue",48,6545,"diesel")

In [56]:
c2.display()

blue 48 6545 diesel 2

class A: # all classes are child of Object class
    ca1=10
    def __init__(self): # This method is over-ridden by B
        self.i1=90
        self.__hidden_treasure="KOHINOOR,DIAMONDS,GOLD,PLATINUM"
    def method1(self):
        print("Instance method in A")

class B(A):
    def __init__(self):# This is method oevrridding
        A.__init__(self)
        self.i2=100
    def display(self):
        print(self.i1,self.i2,self.ca1,self._A__hidden_treasure)

In [79]:
class A:
    def __init__(self):
        self.i1=90
        self.__hidden_tresure="kohinoor,diaomonds"
    def method1(self):
        print("instance menthod A")
        
class B(A):
    def __init__(self):
        A.__init__(self)
        self.i2=90
    def display(self):
        print(self.i1+self.i2,self._A__hidden_tresure)

In [80]:
b=B()

In [81]:
b.display()

180 kohinoor,diaomonds

In [82]:
class A: # all classes are child of Object class
    def __init__(self): # This method is over-ridden by B
        self.i1=90

class B(A):
    def __init__(self):# This is method oevrridding
#         A.__init__(self)
        super().__init__()
        print(self.i1)
        self.i1=100
        self.i2=100
    def display(self):
        print(self.i1,self.i2)
class C(A):
    def __init__(self):# This is method oevrridding
        A.__init__(self) 
    def display(self):
        print(self.i1)

In [94]:
s1=C()

In [95]:
s1.display()

41

In [90]:
class A:
    def __init__(self):
        self.i1=30
    
class B(A):
    
    def __init__(self):
        
        A.__init__(self)
#     self.i1=60
        self.i2=10
class C(B):
    def __init__(self):
        B.__init__(self)
        self.i3=1
        
    def display(self):
        print(self.i1+self.i2+self.i3)

In [91]:
c1=C()

In [92]:
c1.display()

41

In [98]:
class point:
    def __init__(self,x,y):
        self.x=x
        self.y=y
    
    def __add__(self,other):
        print(other)
        match other:
            case point():
                new_x = self.x + other.x
                new_y = self.y + other.y
                return point(new_x,new_y)
            case int()|float():
                new_x = self.x + other
                new_y = self.y + other
                return point(new_x,new_y)

        if type(other) == type(1):
            print("int")
        if type(other) == type(point(0,0)):
            print("point")
        
    def __radd__(self,other):
        print(other)
        match other:
            case point():
                new_x = self.x + other.x
                new_y = self.y + other.y
                return point(new_x,new_y)
            case int()|float():
                new_x = self.x + other
                new_y = self.y + other
                return point(new_x,new_y)

            
    def __sub__(self,other):
        print(other)
        match other:
            case point():
                new_x = self.x - other.x
                new_y = self.y - other.y
                return point(new_x,new_y)
            case int()|float():
                new_x = self.x - other
                new_y = self.y - other
                return point(new_x,new_y)
    def __rsub__(self,other):
        print(other)
        match other:
            case point():
                new_x = self.x - other.x
                new_y = self.y - other.y
                return point(new_x,new_y)
            case int()|float():
                new_x = self.x - other
                new_y = self.y - other
                return point(new_x,new_y)
    
    def dist(self,other):
        x=(self.x  -other.x)**2
        y=(self.y  -other.y)**2
        return (x+y)**0.5

In [102]:
class point:
    def __init__(self,x,y):
        self.x=x
        self.y=y
        
    def __add__(self,other):
        match other:
            case point():
                new_x=self.x+other.y
                new_y=self.x+other.y
                return point(new_x,new_y)
            case int()|float():
                new_x=self.x+other
                new_y=self.y+other
                return point(new_x,new_y)

In [107]:
p1=point(10,10)
p2=point(20,20)

In [112]:
p3.x,p3.y

(30, 30)

In [5]:
class sample: 
    def __init__(self, a): 
        self.a = a 

    def __radd__(self, other): 
        return self.a + other.a 

Ob1=sample("Code-") 
Ob2=sample("Speedy") 
Ob3=Ob2 +Ob1
print(Ob3)

TypeError: unsupported operand type(s) for +: 'sample' and 'sample'