In [1]:
l1= [100, 200, 300, 400, 500]
l1.reverse()

In [2]:
l1

[500, 400, 300, 200, 100]

In [3]:
l1=list(range(150,251,2))
print(len(l1))
l2=l1.copy()
for i in l2:
    l2.remove(i)
    if i%4==0:
        l2.append(i)
        
l2

51

[152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248]

In [4]:
import math
l1 = [1, 4, 9, 16, 25, 36, 49]
l2=[]
for i in l1:
    a=math.sqrt(i)
    l2.append(a)
    #l2.append(math.sqrt(i))
    
l2

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

In [5]:
l1=[5,6,7]
l2=[0, 1]

# for e1,e2 in zip(l1,l2):
#     print(e1,e2)

for i in l1:
    for j in l2:
        print(i,j,end=",",sep="")

50,51,60,61,70,71,

In [6]:
l1=[4,56,75,89,56]# seperate(sep take every iteration to new line)
for i in l1:
    print(i,sep=" ")

4
56
75
89
56

In [7]:
l1=[4,56,75,89,56]# end gives spaces after every iteration in single line
for i in l1:
    print(i,end=" ")

4 56 75 89 56

# Q5

In [8]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]

# for i in l1:
#     print(i,end=" ")
#     for j in l2:
#         print(j)
#         break

for e1,e2 in zip(l1,l2):
    print(e1,e2)

10 100
20 200
30 300
40 400

# Q6

In [9]:
l1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
while("" in l1):
    l1.remove("")
print(l1)

['Ashish', 'Atharva', 'Amit', 'Revati']

In [1]:
#again

In [ ]:
l=[100,200,300,400,500]

In [2]:
l1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]

while("" in l1):
    l1.remove("")
print(l1)

['Ashish', 'Atharva', 'Amit', 'Revati']

In [ ]:
l.reverse()

In [ ]:
l

In [3]:
l1=[]
for i in range(150,250,2):
    l1.append(i)
# l1
print(len(l1))

l2=l1.copy()
l2

for j in l2:
    l2.remove(j)
    if j%4==0:
        l2.append(j)
        
print(l2)

50
[152, 156, 160, 164, 168, 172, 176, 180, 184, 188, 192, 196, 200, 204, 208, 212, 216, 220, 224, 228, 232, 236, 240, 244, 248]

In [11]:
l1=[5,6,7]
l2=[0, 1]

for i in l1:
    for j in l2:
        print(i,j,end=',',sep="")

50,51,60,61,70,71,

In [ ]:
l1=[1,4,9,16,25,36,49]

In [13]:
print(range(12,25,5))

range(12, 25, 5)

In [21]:
l1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]

for i in l1:
    l1.remove([""])
print(l1)

ValueError: list.remove(x): x not in list

In [22]:
l1=[51, 57, 63, 69, 75, 77, 81, 87, 91, 93, 99]

for i,e in enumerate(l1):
    print(i,e)

0 51
1 57
2 63
3 69
4 75
5 77
6 81
7 87
8 91
9 93
10 99

In [23]:
#remove duplicates

In [24]:
l1=[10,20,30,20,40,40,50,50]
l2=[]
for i in l1:
    if i not in l2:
        l2.append(i)
l2

[10, 20, 30, 40, 50]

In [25]:
i=[101,201,301,405,11,5,45,23]
print(sorted(i,reverse=True))

[405, 301, 201, 101, 45, 23, 11, 5]

In [27]:
names=['lcc','dbms','python','bigdata','ml','aa']
sorted(names)

['aa', 'bigdata', 'dbms', 'lcc', 'ml', 'python']

In [28]:
12//6

2

In [29]:
153//10

15

In [41]:
n=input("enter num: ")
#print(n)

length=len(n)
#print(length)

num=int(n)
total=0

while(num>0):
    
    dig=num%10
    total=total+dig**length
    num=num//10
print(total)

enter num: 153
153

In [42]:
#armstrong

In [44]:
num=input("enter num: ")
length=(len(num))

int_num=int(num)
total=0
while(int_num>0):
    dig=int_num%10
    total=total+dig**length
    int_num=int_num//10
print(total)

enter num: 153
153

In [5]:
total=0
l=[1,2,3,4,5]
for i in l:
    total=i+total
print(total)

15

In [7]:
l=[1,2,3,4,5]
m=max(l)
print(m)

5

In [9]:
l : ['abc', 'xyz', 'aba', '1221']
ctr=0    
for i in l:
    if len(i)>1 and i[0]==i[-1]:
        ctr=ctr+1
print(ctr)

TypeError: object of type 'int' has no len()