In [1]:
l1= [100, 200, 300, 400, 500]
l1.reverse()

In [2]:
l1

[500, 400, 300, 200, 100]

In [11]:
l1=list(range(150,251,2))
print(len(l1))
l2=l1.copy()
for i in l2:
    l2.remove(i)
    if i%4==0:
        l2.append(i)
        
l2

51

[152,
 156,
 160,
 164,
 168,
 172,
 176,
 180,
 184,
 188,
 192,
 196,
 200,
 204,
 208,
 212,
 216,
 220,
 224,
 228,
 232,
 236,
 240,
 244,
 248]

In [15]:
import math
l1 = [1, 4, 9, 16, 25, 36, 49]
l2=[]
for i in l1:
    a=math.sqrt(i)
    l2.append(a)
    #l2.append(math.sqrt(i))
    
l2

[1.0, 2.0, 3.0, 4.0, 5.0, 6.0, 7.0]

2.0

In [28]:
l1=[5,6,7]
l2=[0, 1]

# for e1,e2 in zip(l1,l2):
#     print(e1,e2)

for i in l1:
    for j in l2:
        print(i,j,end=",",sep="")

50,51,60,61,70,71,

In [23]:
l1=[4,56,75,89,56]# seperate(sep take every iteration to new line)
for i in l1:
    print(i,sep=" ")

4
56
75
89
56

In [24]:
l1=[4,56,75,89,56]# end gives spaces after every iteration in single line
for i in l1:
    print(i,end=" ")

4 56 75 89 56

# Q5

In [50]:
l1 = [10, 20, 30, 40]
l2 = [100, 200, 300, 400]

# for i in l1:
#     print(i,end=" ")
#     for j in l2:
#         print(j)
#         break

for e1,e2 in zip(l1,l2):
    print(e1,e2)

10 100
20 200
30 300
40 400

# Q6

In [64]:
l1 = ["Ashish", "", "Atharva", "Amit", "", "Revati"]
while("" in l1):
    l1.remove("")
print(l1)

['Ashish', 'Atharva', 'Amit', 'Revati']

In [3]:
for i in range(len(l1)):
    if "" in l1:
        l1.remove("")
print(l1)

['Ashish', 'Atharva', 'Amit', 'Revati']

In [35]:
l1 = [10, 20, [300, 400, [5000, 6000], 500], 30, 40]
temp=6000
l1[2][2][1]=7000
l1[2][2].append(6000)
l1

[10, 20, [300, 400, [5000, 7000, 6000], 500], 30, 40]

In [43]:
l1 = ["a", "b", ["c", ["d", "e", ["f", "g"], "k"], "l"], "m", "n"]
s=["h","i","j"]
l1[2][1][2].extend(s)
l1

['a', 'b', ['c', ['d', 'e', ['f', 'g', 'h', 'i', 'j'], 'k'], 'l'], 'm', 'n']

# Q9

In [24]:
l1 = [5, 10, 15, 20, 25, 50, 20]
for i,n in enumerate(l1):
    if n==20:
        l1[i]=200
l1

[5, 10, 15, 200, 25, 50, 200]

In [4]:
l1 = [5, 10, 15, 20, 25, 50, 20]
index=l1.index(20)
for i in range(len(l1)):
    if i==index:
        l1[i]=200
l1

[5, 10, 15, 200, 25, 50, 20]

In [7]:
l1 = [5, 10, 15, 20, 25, 50, 20]
for i in range(len(l1)):
    if l1[i]==20:
        l1[i]=200
l1

[5, 10, 15, 200, 25, 50, 200]

# Q11

In [ ]:
num=int(input())
l=[]
for i in range(num):
    l.append(int(input()))
l

256
256

In [5]:
num=input("enter: ").split()
for i in range(len(num)):
    print(i)

enter: 256
0

In [6]:
num=input()
l=[]
for i in num:
    l.append(i)
l2=sorted(l)
print(l2)
l2=int("".join(l2))
print("min:",l2)




l3=sorted(l,reverse=True)
l4=int("".join(l3))
print("max:",l4)

274
['2', '4', '7']
min: 247
max: 742

3
<class 'str'>
4
<class 'str'>
2
<class 'str'>
1
<class 'str'>