# Q1..WAP that accepts three integers from the user and return true if two or more of them (integers ) have the same rightmost digit. The integers are non-negative

In [19]:
num1=int(input("enter fir number: "))
num2=int(input("enter sec number"))
num3=int(input("enter sec number"))

num1=str(num1)
num2=str(num2)
num3=str(num3)
if (num1[-1]==num2[-1] or num2[-1]==num3[-1] or num1[-1]==num3[-1]):
    print("positive integers")

enter fir number: 125
enter sec number165
enter sec number123
positive integers

Q2WAP to convert input number of seconds to HH:MM:SS.

In [27]:
sec=int(input("enter sec: "))
hrs=(sec/3600)
minute=sec/60
print(int(hrs),":",int(minute),":",int(sec))

enter sec: 3600
1 : 60 : 3600

Q3 WAP to print all leap years between 2000 to 2100. Apply all conditions of checking leap year ( (divisible by 4 and not divisible by 100) OR (divisible by 400))

In [37]:
year=int(input("enter year: "))

if(2000<=year<=2100):
    if (year%4==0) and (year%100!=0):

        print("leap")
    elif(year%400==0):
        print(" leap year")

    else:
        print("not leap")
else:
    print("enter valid year")

enter year: 2004
leap

Factorial Program using Recursion
    n! = n * (n-1) * (n-2) * ... *2*1

In [39]:
num=int(input("enter num: "))
sum=1
for i in range (1,num+1):
    sum=sum*i
print(sum)

enter num: 5
120

# Fibonacci Series.
    1,1,2,3,5,8,13,21,34,...

In [49]:
num=int(input("enter num: "))
a=0
b=1
print(a)
print(b)
for i in range(num):
    c=a+b
    print(c)
#     a=b
#     b=c
    a,b=b,c

enter num: 5
0
1
1
2
3
5
8

Q5 Armstrong Number.
    It is a number with 'n' digits. Here (sum of every digit ^ n) equal to ( number itself)

    1) 1^3 5^3 3^3=153 ( here number of digits(n) is 3)
    2) 1^1 = 1 ( here number of digits is 1)
    3) 1634 = 1^4 + 6^4 + 3^4 + 4^4 ( here number of digits is 4)

In [8]:
num=(input("enter num: "))
length=len(num)
num=int(num)
arm=0

while (num>0):
    dig=num%10
    arm=arm+dig**length
    num=num//10
print(arm)

enter num: 1634
1634

Q6 Perfect sqaure WAP to check if a number is perfect square ot not.

In [27]:
import math

num=int(input("enter num: "))
sqrt=math.sqrt(num)
print(sqrt)

if (sqrt*sqrt==num):
    print("perfect square")
else:
    print("not")

enter num: 4
2.0
perfect square

In [29]:
num=int(input("enter num: "))

for i in range(1,num+1):
    if (i*i==num):
        
        print("perfect square")
        break;

enter num: 81
perfect square

# Prime number.
    Number is not divisible by any number other than 1 and itself

In [39]:
num=int(input("enter number: "))

for i in range(2,num):
    if(num%i==0):
        print("not prime")
        break;
else:
    print("prime")

enter number: 78
not prime

# Q6 Reverse a string.

In [45]:
str1="purven"
str1=str1[::-1]
print(str1)

nevrup

# Q7 Check Palindrome number

In [49]:
num=input("enter num: ")
length=len(num)
pal=0
num=int(num)
while(num>0):
    dig=num%10
    pal=pal*10+dig
    num=num//10
print(pal)

enter num: 313
313

# Q8 Find duplicate characters in a string.

In [8]:
print(ord('A'))

65

In [11]:
for char in range (ord('A'),ord('Z')+1):
    print(chr(char),end=' , ')

A , B , C , D , E , F , G , H , I , J , K , L , M , N , O , P , Q , R , S , T , U , V , W , X , Y , Z ,

In [59]:
string='purveennnnnzzzaaammmbbbrrreee'
l=[]
for ele in string:
    l.append(ele)
d=dict()
count=0
for i in l: 
    count=l.count(i)
    if count>1:
        d[i] = count
print(d)

{'r': 4, 'e': 5, 'n': 5, 'z': 3, 'a': 3, 'm': 3, 'b': 3}

# Q9 print table of any given number 
    2,4,6,8,10,12,14,16,18,20

In [65]:
num=int(input("enter num: "))

table=1
for i in range(1,11):
    table=num*i
    print(table,end=",")

enter num: 2
2,4,6,8,10,12,14,16,18,20,

# Q10 Take a number from user. Print highest number possible using all digits once from given number

# def larger(num):
    l=[]
    for i in num:
        l.append(i)
    l=sorted(l,reverse=True)
    l=''.join(l)
    print(l)

In [89]:
larger("123")

321

# Q11 Write a  program to swap two variables
a. by using a temporary variable
b. using arithmatic operation and not using a variable
c. without using variable ( using python unpacking syntax)

In [93]:
a=1
b=2

c=a
a=b
b=c
print(a,b)

2 1

In [97]:
a=1
b=2

c=a+b
a=c-a
b=c-b
print(a,b)

2 1

In [98]:
a=1
b=2

a,b=b,a

print(a,b)

2 1

# Q 12 Write a  program to add and multiply two binary numbers

In [2]:
a=2
bin(3+5)

'0b1000'

# Q13 WAP  to count the letters, spaces, numbers and other characters of an input string.

In [53]:
cnt_letter=0
cnt_space=0
cnt_number=0
cnt_char=0
 charac=["!","@","#","$",]
str1="Purv en@123"
l=[]
for i in str1:
    l.append(i)
print(l)

for i in l:
    if(i==" "):
        cnt_space=cnt_space+1
    elif(ord(i)>=48 and ord(i)<=57):
        cnt_number=cnt_number+1
    elif((ord(i)<=90 and  ord(i)>=65) or (ord(i)<=122 and ord(i)>=97)):
        cnt_letter+=1
    else:
        cnt_char+=1
        
    
     elif(i):
         cnt_char=cnt_char+1

print("spaces",cnt_space)
print("letters",cnt_letter)
print("numbers",cnt_number)
print("special characters",cnt_char)

['P', 'u', 'r', 'v', ' ', 'e', 'n', '@', '1', '2', '3']
spaces 1
letters 6
numbers 3
special characters 1

In [21]:
l=["!","$"]
a=l[0]

In [22]:
a

'!'

In [26]:
s='purven zambare'
l=list(s)

In [27]:
l

['p', 'u', 'r', 'v', 'e', 'n', ' ', 'z', 'a', 'm', 'b', 'a', 'r', 'e']

In [36]:
s='1'
type(int(s))

int

In [62]:
# lettr=[]
char=[]
spchar=[]
num=[]

for i in range(1,127):
    if(i>=48 and i<=57):
        num.append(chr(i))
    
    elif(i>=65 and i<=90) or (i>=97 and i<=122):
        char.append(chr(i))
    
    else:
        spchar.append(chr(i))
        
# print(char)
# print(spchar)
# print(num)
cnt_letter=0
cnt_space=0
cnt_number=0
cnt_char=0
 
str1="Purv en@123"

l1=list(str1)

for i in l1:
    
    if i in char:
        cnt_letter+=1
    elif i in num:
        cnt_number+=1
    elif i ==" ":
        cnt_space+=1
    else:
        cnt_char+=1
        
print(cnt_letter)
print(cnt_number)
print(cnt_space)
print(cnt_char)

6
3
1
1

In [50]:
for i in range (1,127):
    print(i,':',chr(i),end=",           ")

1 : ,           2 : ,           3 : ,           4 : ,           5 : ,           6 : ,           7 : ,           8 : ,           9 : 	,           10 :
,           14 : ,           15 : ,           16 : ,           17 : ,           18 : ,           19 : ,           20 : ,           21 : ,           22 : ,           23 : ,           24 : ,           25 : ,           26 : ,           27 : ,           28 : ,           29 : ,           30 : ,           31 : ,           32 :  ,           33 : !,           34 : ",           35 : #,           36 : $,           37 : %,           38 : &,           39 : ',           40 : (,           41 : ),           42 : *,           43 : +,           44 : ,,           45 : -,           46 : .,           47 : /,           48 : 0,           49 : 1,           50 : 2,           51 : 3,           52 : 4,           53 : 5,           54 : 6,           55 : 7,           56 : 8,           57 : 9,           58 : :,           59 : ;,           60 : <,           61 : =,           62 : >,           63 : ?,           64 : @,           65 : A,           66 : B,           67 : C,           68 : D,           69 : E,           70 : F,           71 : G,           72 : H,           73 : I,           74 : J,           75 : K,           76 : L,           77 : M,           78 : N,           79 : O,           80 : P,           81 : Q,           82 : R,           83 : S,           84 : T,           85 : U,           86 : V,           87 : W,           88 : X,           89 : Y,           90 : Z,           91 : [,           92 : \,           93 : ],           94 : ^,           95 : _,           96 : `,           97 : a,           98 : b,           99 : c,           100 : d,           101 : e,           102 : f,           103 : g,           104 : h,           105 : i,           106 : j,           107 : k,           108 : l,           109 : m,           110 : n,           111 : o,           112 : p,           113 : q,           114 : r,           115 : s,           116 : t,           117 : u,           118 : v,           119 : w,           120 : x,           121 : y,           122 : z,           123 : {,           124 : |,           125 : },           126 : ~,

In [42]:
ord("c")

99

In [55]:
chr(99)

'c'

In [59]:
chr(0)

'\x00'

In [5]:
ord("c")

99

# Q14 WAP  to print the ascii value of a given character

In [7]:
# char=[]

str1=input("enter no: ")

# for i in str1:
#     print(chr(i))

a=ord(str1)
print(a)

enter no: A
65

# Q15 WAP that accepts an integer (n) and computes the value of n+n*n+n*n*n.

In [16]:
def power(num):
    
    total=0
    for i in range(1,num+1):
#         print(i)
        total=total+num**i
    print(total)

In [17]:
power(3)

39

# Q16 WAP to capitalize the first letter of each word in input sentence.

In [23]:
str1=input("enter String: ")
str1=str1.title()
print(str1)

enter String: iacsd college
Iacsd College

# Q17 WAP to find the penultimate (last but one) word of a sentence.

In [125]:
str1="purven nitin iacsd"
s=str1.split()
print(s)
length=len(s)-2
print(s[length])
# for i in str1:
#     print()

['purven', 'nitin', 'iacsd']
nitin

# Q18 WAP to find second last maximum value

In [44]:
num=(input("enter num: "))
num=list(num)
length=len(num)
sec_last=sorted(num)
print(sec_last[length-2])

enter num: 1458962314785
8

# Q19 WAP to find number in a list which is repeated exactly 'n' times

In [65]:
l1=[1,2,3,3,3,4,555,555]
d=dict()
cnt=0
for i in l1:
    cnt=l1.count(i)
#     print(cnt)
    if cnt>1:
        d[i]=cnt
print(d)

{3: 3, 555: 2}

# Q20 WAP to extract the first half of a given string

In [25]:
def Half_str(name):
    length=len(name)
    length=int(length/2)
    # print(length)
    name=name[0:length]
    print(name)

In [28]:
Half_str(input("enter string: "))

enter string: Purvenzamb
Purve

# Q21 WAP to check if a string starts with a specified word. 
Sample Data: string1 = "Hello how are you?"
word = "Hello"
Sample Output: True

In [68]:
def chk_word(wrd):
    word="hello"
#     word1=input("enter string: ")
    wrd=wrd.split()
    wrd=wrd[0]
    if (word==wrd):
        print("true")
    else:
        return False

In [69]:
chk_word(input("enter word: "))

enter word: hello good morning
true

# Q22 WAP to sort array of strings based on alphabetical order of second character of each string. Assume all strings are minimum 2 character long

In [76]:
str1=["abudabi","india","newyork","girmany","swiss"]

def sec_char_sort(string):
      return string[1]

sorted_str1=sorted(str1,key=sec_char_sort)
print(sorted_str1)

['abudabi', 'newyork', 'girmany', 'india', 'swiss']

# Q23 WAP to print the odd numbers from 1 to 99. Prints one number per line.

In [2]:
for i in range (1,100,2):
    print(i)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

# Q24 WAP  to accept a number and check the number is even or not. Prints 1 if the number is even or 0 if the number is odd.

In [13]:
def eo(num):
    if num%2==0:
        return 1
    else:
        return 0

In [14]:
eo(int(input()))

4

1

# Q 25 WAP to print numbers between 1 to 100 which are divisible by 3, 5 and by both
( total 3 list of numbers to be printed)

In [16]:
for i in range (1,100):
    if i%5==0:
        print(i)
    elif i%3==0:
        print(i)
    elif i%5==0 and i%3==0:
        print(i)

3
5
6
9
10
12
15
18
20
21
24
25
27
30
33
35
36
39
40
42
45
48
50
51
54
55
57
60
63
65
66
69
70
72
75
78
80
81
84
85
87
90
93
95
96
99

# Q 26 WAP that accepts three integers from the user and return true if two or more of them (integers ) have the same rightmost digit. The integers are non-negative

In [31]:
# for i in range(0,3):
#     int(input("enter num: "))
    
def most(n1,n2,n3):
    
    if n1%10==n2%10:
        return True

most(123,1223,523)

True

# Q27 WAP to print all leap years between 2000 to 2100. Apply all conditions of checking leap year ( (divisible by 4 and not divisible by 100) OR (divisible by 400))

In [35]:
yr=int(input("enter yr: "))

if (yr%4==0) and (yr%100!=0):
    print("leap yr")

elif(yr%400==0):
    print("leap yr")

else:
    print("not leap")

enter yr: 2019
not leap

# Q 28 Factorial of a number using loop
    n! = n * (n-1) * (n-2) * ... *2*1

In [36]:
num=int(input("enter num: "))
res=1
for i in range(1,num+1):
    res=res*i
print(res)

enter num: 5
120

# Armstrong

In [58]:
num1=input("enter the num: ")
length=len(num1)
num=int(num1)
ori_num=num
#length=len(num)
arm=0
while num>0:
    n=num%10
    arm=arm+n**length
    num=num//10

print(arm)
if arm==ori_num:
    print("armstrong")
else:
    print("not armstrong")

enter the num: 153
153
armstrong

# Armstrong

In [13]:
num1=input("enter number")
l=len(num1)

# print(l)

num=int(num1)
ori_num=num
# print(type(num))
res=0
while(num>0):
    n=num%10
    res=res+n**l
    num=num//10

print(res)
print(num1)
if res==ori_num:
    print("armstrong")
else:
    print("no arm")

enter number153
153
153
armstrong

# Fact

In [124]:
num=int(input("enter number"))
res=1
for i in range(num):
    res=res*(num-i)
print(res)

enter number6
720

# Fibonacci

In [18]:
# 1,1,2,3,5,8,13,21,34,...
n=int(input("enter a number: "))

a=0
b=1
# print(a)
print(b)

for i in range (n):
    c=a+b
    print(c)
    a,b=b,c

enter a number: 5
1
1
2
3
5
8

# WAP to check if a number is perfect square ot not.

In [26]:
n=int(input("enter nos: "))

a=int((n**0.5))
print(a)
if a*a==n:
    print("perfect square")
else:
    print("not")

enter nos: 9
3
perfect square

In [29]:
n=int(input("enter number: "))

for i in range (1,n+1):
    if (i*i==n):
        print("perfect sqr")
        break

enter number: 5

# WAP to chk prime nos

In [41]:
n=int(input("enter a num "))

for i in range (2,n):
    if n%i==0:
        print("not prime")
        
        break
else:
    print("prime")

enter a num 7
prime

In [38]:
int(7**0.5+1)

3

In [42]:
s="Purven"
a=s[::-1]
print(a)

nevruP

# reverse a string without using a fun()

In [46]:
s="Purven"
b=""
for i in range(1,len(s)+1):
    b=b+s[-i]

print(b)

nevruP

In [56]:
num=int(input("enter a num: "))
rev=0
while(num>0):
    n=num%10
    rev=rev*10+n
    num=num//10

    
print(rev)

enter a num: 1532
2351

# Pallindrome

In [64]:
num=int(input("enter a number: "))
ori_num=num
rev=0

while(num>0):
    n=num%10
    rev=rev*10+n
    num=num//10

if (rev==ori_num):
    print("Pallindrome")
else:
    print("not")

enter a number: 1532
not

# Pallindrome String

In [68]:
s=input("enter a string: ")
ori_str=s
print(ori_str)
b=""

for i in range (1,len(s)+1):
    b=b+s[-i]

print(b)

if b==ori_str:
    print("palli str")
else:
    print("not")

enter a string: ullu
ullu
ullu
palli str

# Find duplicate characters in a string.

In [79]:
s="purrvennn"
duplicate=set()
for i in range(len(s)):
    if s.count(s[i])>1:
        duplicate.add(s[i])

print(duplicate)

{'r', 'n'}

In [77]:
s = "purrvennn"
duplicates = set()

for char in s:
    if s.count(char) > 1:
        duplicates.add(char)

print("Duplicate characters:", duplicates)

Duplicate characters: {'r', 'n'}

# Take a number from user. Print highest number possible using all digits once from given number

In [89]:
num=int(input("enter a num: "))

num=str(num)

num="".join(sorted(num,reverse=True))

print(int(num))

enter a num: 153
531

In [123]:
a=989
l=[]
for i in (str(a)):
    l.append(int(i))
    
# print(l)

for i in range(0,len(l)):
    for j in range(i+1,len(l)):
        if l[i]>=l[j]:
            l[i],l[j]=l[j],l[i]

n=int("".join(map(str,l)))
print(n)

899