Q1: A student will not be allowed to sit in exam if his/her attendence is less than 75%.  
Take following input from user Number of classes held Number of classes attended. And print percentage of class attended  
Is student is allowed to sit in exam or not.

In [5]:
def check(attend,Tclasses):
#attended=int(input("class attnd: "))
#classes=int(input("total classes: "))
    perc=int((attend/Tclasses)*100)

    if(perc>75):
        return ("can attend classes")
    else:
        return ("can't attend")

check(45,100)

"can't attend"

Q2:accept amount from user and find the minimum number notes required to get the amount amount =512  
Notes: 2000,500,100,50,10,5,2,1  

500-1 note  
10  - 1 note  
2-  1 coin

In [20]:
amt=37500

req_notes_2k=amt//2000
if req_notes_2k>0:
    print("2k:",req_notes_2k)
rem_amt=amt%2000

note_500=rem_amt//500
if rem_amt>0:
    
    print("500:",note_500)

rem_amt=rem_amt%500

2k: 18
500: 3

In [21]:
rem_amt

0

In [1]:
amt=4050

money=[2000]


for i in money:
    if amt>i:
        notes_2k=amt//i
        print(notes_2k)
        
        rem_amt=amt%i
    print(i)

2
2000

Modify the above question Q1 to allow student to sit if he/she has medical cause. Ask user if he/she has medical cause or not ( 'Y' or 'N' ) and print accordingly.  
4.	A school has following rules for grading system:  
a.	Below 25 - F  
b.	25 to 45 - E  
c.	45 to 50 - D  
d.	50 to 60 - C  
e.	60 to 80 - B  
f.	Above 80 - A  
Ask user to enter marks and print the corresponding grade.

In [7]:
def check(attend,Tclasses):

    perc=int((attend/Tclasses)*100)
    if(perc<25):
        med=input("any medical issues: ")
        if med=='y'or med=='Y':
            return ("can attend and grade F")
        else:
            return("cant attend")
            
    elif (25<perc<45):
        med=input("any medical issues: ")
        
        if med=='y'or med=='Y':
            
            return ("can attend and grade E")
        else:
            return("cant attend")

In [9]:
check(43,100)

any medical issues: n

'cant attend'

Write a program to calculate the electricity bill (accept number of unit from user) according to the following criteria :  
             Unit                                    Price    
First 100 units                                       no charge  
Next 100 units                                        Rs 5 per unit  
After 200 units                                       Rs 10 per unit  
(For example if input unit is 350 than total bill amount is Rs2000)

In [16]:
def chk_bill(units):
    if(units<100):
        return ("no charge")
    elif(100<units<200):
        amt=(units%100)*5
        return ("the amount is:",amt)
    elif(200<units<300):
        amt=(units%200)*10
        return ("the amount is:",500+amt)

In [20]:
chk_bill(250)

('the amount is:', 1000)

Q: Chk_leapYear

In [12]:
def chk_leap(leap):
    "checking leap year"
    
    if(leap%400==0):
        return ("leap year")
    
    elif(leap%4==0):
        return ("leap year")
    
    
    elif(leap%100==0):
        
        return ("non leap year")
#     elif(leap%4==0):
#         return ("leap year")
    
    else:
        return("non leap yr")

In [13]:
chk_leap(2000)

'leap year'

Write a program to accept the price of a bike and display the road tax and insurance to be paid according to the following criteria . also display total amount to be paid.  
      
        Cost price (in Rs)           Tax                Inssurance  
        > 100000                     15 %                   20%  
        > 50000 and <= 100000        10%                    8%  
        <= 50000                     5%                     5%

In [5]:
def tax(amt):
#     print("d")
    if(amt>100000):
#         print("c")
        tax=amt+0.15*amt
        insurance=amt+amt*0.20
        total=tax+insurance
        
        print(tax,insurance,total)

In [7]:
tax(100456)

d
c
115524.4 120547.2 236071.59999999998

In [10]:
print("*"*4)

****

In [11]:
for i in range(4):
    print("*"*5)

*****
*****
*****
*****

In [91]:
def patt1(n):
    for i in range(n):
        
        for j in range(i+1):
                
            print("*",end=' ')
            
        print()

In [92]:
patt1(6)

*
* *
* * *
* * * *
* * * * *
* * * * * *

In [74]:
def patt2(n):
    
    for i in range(n):
        for j in range (i,n):
            print("*",end=' ')
        print()

In [75]:
patt2(5)

* * * * *
* * * *
* * *
* *
*

In [105]:
def patt3(n):
    for i in range(n):
        for j in range(i,n):
            
            print("-",end=" ")
            
        for j in range(i+1):
            print("*",end=" ")
        
        
        print()

In [106]:
patt3(5)

- - - - - *
- - - - * *
- - - * * *
- - * * * *
- * * * * *

In [103]:
def patt4(n):
    for i in range(n):
        for j in range(i+1):
            print("-",end=' ')
            
        for j in range(i,n):
            print("*",end=' ')
        print()

In [104]:
patt4(6)

- * * * * * *
- - * * * * *
- - - * * * *
- - - - * * *
- - - - - * *
- - - - - - *

In [117]:
def patt5(n):
    for i in range(5):
        for j in range(i,n):
            print("-",end=' ')
        
        for j in range(i+1):
            print("*",end=" ")
            
        for j in range(i+1):
            print("*",end=" ")
            
        print()

In [118]:
patt5(5) # here is a small catch loop knows only to print cplumn but here we print one column less...

- - - - - * *
- - - - * * * *
- - - * * * * * *
- - * * * * * * * *
- * * * * * * * * * *

In [122]:
def patt5(n):
    for i in range(5):
        for j in range(i,n):
            print("-",end=' ')
        
        for j in range(i):
            print("*",end=" ")
            
        for j in range(i+1):
            print("*",end=" ")
            
        print()

In [123]:
patt5(6)

- - - - - - *
- - - - - * * *
- - - - * * * * *
- - - * * * * * * *
- - * * * * * * * * *

In [131]:
def patt6(n):
    for i in range(n):
        for j in range(i+1):
            print("-",end=' ')
            
        for j in range(i,n-1):
            print("*",end=' ')
            
        for j in range(i,n):
            print("*",end=" ")
            
            
        print()

In [132]:
patt6(5) #same catch as above here also we have to print one column less

- * * * * * * * * *
- - * * * * * * *
- - - * * * * *
- - - - * * *
- - - - - *

In [139]:
def patt7(n):
    for i in range(n):
        for j in range(i,n):
            print("-",end=' ')
            
        for j in range(i+1):
            print("*",end=' ')
            
#         for i in range(n):
#             print(" ",end=' ')
            
            
#         for j in range(i,n):
#             print("*",end=" ")
            
        print()
        
        
        
    for i in range(n):
        
        for j in range(i+1):
            print(" ",end=" ")
            
        for j in range(i,n):
            
            print("*",end=' ')
     
        
        print()

In [140]:
patt7(5)

- - - - - *
- - - - * *
- - - * * *
- - * * * *
- * * * * *
  * * * * *
    * * * *
      * * *
        * *
          *